// components/footer-link-list/footer-link-list.scss

// -----------------------------------------------------------------------------
// Footer Link List Component Styles
// The title styles have been moved to the footer-widget component.
// -----------------------------------------------------------------------------

[data-component-id='kingly_minimal:footer-link-list'] {
  // Style the <ul> element.
  .footer-link-list__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    // Define the space between each link in the list.
    gap: var(--spacing-sm);
  }

  // Style the individual links.
  .footer-link-list__link {
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.15s ease-in-out;

    &:hover,
    &:focus {
      color: var(--color-primary);
      text-decoration: underline;
    }
  }
}
