{#
/**
 * @file
 * Component template for a titled list of links in the footer.
 *
 * This component has been refactored to embed the `footer-widget` component,
 * delegating the wrapper and title markup and styling to it.
 *
 * @see kingly_minimal/components/footer-link-list/footer-link-list.component.yml
 *
 * @props
 * - title: The heading for the list of links.
 * - links: An array of link objects, each with 'text' and 'url'.
 * - attributes: A Drupal attributes object for the wrapper.
 */
#}
{% embed 'kingly_minimal:footer-widget' with {
  title: title,
  attributes: attributes.addClass('footer-link-list')
} %}
  {#
  The `block` tag here corresponds to the `content` block in the
  footer-widget.twig template. Everything inside this block will be
  injected into the widget's content area.
  #}
  {% block content %}
    {% if links %}
      <ul class="footer-link-list__list">
        {% for link in links %}
          <li class="footer-link-list__item">
            <a href="{{ link.url }}" class="footer-link-list__link">{{ link.text }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endblock %}
{% endembed %}
