# .gitignore

# Ignore Mac system files.
.DS_Store

# Ignore JetBrains IDE files.
.idea/

# Ignore Node.js dependencies.
node_modules/

# Ignore .map files
*.css.map
*.js.map
css/map

# Ignore Storybook build output.
storybook-static/

*storybook.log
