{#
/**
 * @file
 * Component template for an audio media item.
 * @see kingly_minimal/components/media--audio/media--audio.component.yml
 * @props
 * - media_entity: (Object) The full audio media entity object.
 * - content: (Object) The rendered audio player.
 * - attributes: (Object) A Drupal attributes object for the wrapper element.
 */
#}
<div{{ attributes.addClass('media--audio') }}>
  {{- content -}}
</div>
