{#
/**
 * @file
 * Component template for an audio media item.
 *
 * @see kingly_minimal/components/media--audio/media--audio.component.yml
 *
 * @props
 * - media_entity: The full audio media entity object.
 * - attributes: A Drupal attributes object for the wrapper element.
 *
 * @slots
 * - content: The rendered audio player.
 */
#}
<div{{ attributes.addClass('media--audio') }}>
  {% block content %}{% endblock %}
</div>
