{#
/**
 * @file
 * Component template for a page title.
 *
 * This component renders the main H1 page title inside a wrapper by composing
 * the `heading` component.
 *
 * @see kingly_minimal/components/page-title/page-title.component.yml
 *
 * @props
 * - title: (String|Object) The page title text or render array.
 * - attributes: (Object) HTML attributes for the wrapper element.
 */
#}
{% if title %}
  {# The attributes are applied to the wrapper div. #}
  <div{{ attributes.addClass('page-title-wrapper') }}>
    {# Delegate rendering to the canonical `heading` component. #}
    {{ include('kingly_minimal:heading', {
      text: title,
      level: 'h1',
      display: 'h1',
      attributes: create_attribute().addClass('page-title')
    }, with_context = false) }}
  </div>
{% endif %}
