{#
/**
 * @file
 * Theme override for the Slideshow Slide paragraph.
 *
 * This template wraps the slide's content in a `<li>` element required by
 * Splide.js. It then reuses the `kingly_minimal:card` component to render the
 * actual content, mapping the slide's fields to the card's props.
 *
 * @see kingly_minimal/components/card/card.twig
 */
#}
{% set link_item = paragraph.field_card_link|first %}

{%
  set card_props = {
  'variant': 'vertical',
  'attributes': attributes.addClass('paragraph--type--slideshow-slide'),
  'image': {
    'render_array': content.field_card_image,
  },
  'title': paragraph.field_card_title.value,
  'body': content.field_card_body,
  'link': {
    'text': link_item ? link_item.title : '',
    'url': link_item ? link_item.url,
  },
}
%}

<li class="splide__slide">
  {{ include('kingly_minimal:card', card_props, with_context=false) }}
</li>
