{#
/**
 * @file
 * Component template for an image media item.
 * @see kingly_minimal/components/media--image/media--image.component.yml
 * @props
 * - media_entity: (Object) The full image media entity object.
 * - content: (Object) The rendered image or picture element.
 * - attributes: (Object) A Drupal attributes object for the wrapper element.
 */
#}
<div{{ attributes.addClass('media--image') }}>
  {{- content -}}
</div>
