{#
/**
 * @file
 * Component template for an image media item.
 *
 * @see kingly_minimal/components/media--image/media--image.component.yml
 *
 * @props
 * - media_entity: The full image media entity object.
 * - attributes: A Drupal attributes object for the wrapper element.
 *
 * @slots
 * - content: The rendered image or picture element.
 */
#}
<div{{ attributes.addClass('media--image') }}>
  {% block content %}{% endblock %}
</div>
