{#
/**
 * @file
 * Component template for a list item.
 *
 * @see kingly_minimal/components/list-item/list-item.component.yml
 *
 * @props
 * - attributes: (Object) A Drupal attributes object for the `<li>` element.
 *
 * @slots
 * - content: The content of the list item.
 */
#}
<li{{ attributes }}>
  {% block content %}{% endblock %}
</li>
