// components/footer-widget/footer-widget.scss

// -----------------------------------------------------------------------------
// Footer Widget Component Styles
// -----------------------------------------------------------------------------

[data-component-id='kingly_minimal:footer-widget'] {
  // Style the title of the widget. This style will now be shared by all
  // components that use this widget.
  .footer-widget__title {
    font-family: var(--font-family-heading);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: var(--spacing-md);
  }
}
