{#
/**
 * @file
 * Component template for a generic footer widget.
 *
 * This component provides the shared structure (a wrapper and a styled title)
 * for other components to use via Twig's `embed` tag. It now uses the `heading`
 * component to render its title.
 *
 * @see kingly_minimal/components/footer-widget/footer-widget.component.yml
 *
 * @props
 * - title: (String) The heading for the widget.
 * - attributes: (Object) A Drupal attributes object for the wrapper.
 *
 * @slots
 * - content: The main content of the widget.
 */
#}
<div{{ attributes.addClass('footer-widget') }}>
  {% if title %}
    {# Delegate rendering to the canonical `heading` component. #}
    {{ include('kingly_minimal:heading', {
      text: title,
      level: 'h2',
      attributes: create_attribute().addClass('footer-widget__title')
    }, with_context = false) }}
  {% endif %}

  {#
  The `block` tag defines an area that can be overridden by the template
  that is embedding this one.
  #}
  <div class="footer-widget__content">
    {% block content %}{% endblock %}
  </div>
</div>
