{#
/**
 * @file
 * Component template for a details (fieldset) element.
 *
 * @see kingly_minimal/components/details/details.component.yml
 *
 * @props
 * - title: (String|Object) The text for the <summary> element.
 * - errors: (Object) Any errors associated with the element.
 * - required: (Boolean) A flag indicating if the element is required.
 * - attributes: (Object) A Drupal attributes object for the <details> element.
 *
 * @slots
 * - content: The content to be displayed inside the collapsible element.
 */
#}
<details{{ attributes }}>
  {% if title %}
    <summary class="details__summary">
      <span class="details__summary-text">{{ title }}</span>
      {% if required %}
        <span class="required-marker" aria-hidden="true">*</span>
      {% endif %}
      <span class="details__marker">
        {# The icon is decorative as the open/closed state is conveyed by the `open` attribute. #}
        {{ include('kingly_minimal:icon', { name: 'chevron-down', 'attributes': create_attribute().setAttribute('aria-hidden', 'true') }, with_context = false) }}
      </span>
    </summary>
  {% endif %}

  <div class="details__content">
    {% block content %}{% endblock %}
  </div>
</details>
