[data-component-id='kingly_minimal:list'] {
  // Reset default browser styles for lists.
  // The `text` (prose) component will re-add list styles for rich text content.
  list-style: none;
  margin: 0;
  padding: 0;
}
