{#
/**
 * @file
 * Component template for a document media item.
 *
 * @see kingly_minimal/components/media--document/media--document.component.yml
 *
 * @props
 * - media_entity: The full document media entity object.
 * - attributes: A Drupal attributes object for the wrapper element.
 *
 * @slots
 * - content: The rendered document link.
 */
#}
<div{{ attributes.addClass('media--document') }}>
  {% block content %}{% endblock %}
</div>
