{#
/**
 * @file
 * Component template for a timeline.
 *
 * @see kingly_minimal/components/timeline/timeline.component.yml
 *
 * @props
 * - attributes: (Object) A Drupal attributes object for the root wrapper element.
 *
 * @slots
 * - content: The slot for timeline-item <li> elements.
 */
#}
<div{{ attributes.addClass('timeline') }}>
  <ol class="timeline__list">
    {% block content %}{% endblock %}
  </ol>
</div>
