{#
/**
 * @file
 * Component template for a theme toggle button.
 *
 * @see kingly_minimal/components/theme-toggle/theme-toggle.component.yml
 *
 * @props
 * - attributes: (Object) A Drupal attributes object for the button.
 */
#}
<button{{ attributes.addClass('theme-toggle').setAttribute('aria-label', 'Toggle light and dark theme'|t).setAttribute('aria-pressed', 'false') }}>
  <span class="theme-toggle__icon-wrapper theme-toggle__icon-wrapper--dark">
    {{ include('kingly_minimal:icon', { name: 'moon' }, with_context = false) }}
  </span>
  <span class="theme-toggle__icon-wrapper theme-toggle__icon-wrapper--light">
    {{ include('kingly_minimal:icon', { name: 'sun' }, with_context = false) }}
  </span>
</button>
