{#
/**
 * @file
 * Component template for a list of tags.
 *
 * This component iterates over a list of field items and renders them inside
 * a wrapper. It is designed to work with Drupal's Field API output, where
 * each item's 'content' is a pre-rendered entity (like a linked taxonomy term).
 *
 * @see kingly_minimal/components/field-tags/field-tags.component.yml
 *
 * @props
 * - items: (Array) An array of field items from Drupal.
 * - attributes: (Object) A Drupal attributes object for the wrapper.
 */
#}
<div{{ attributes }}>
  {% for item in items %}
    {#
    Each item.content is expected to be a render array (the linked term).
    The .field__item class is added here for styling hooks and consistency
    with Drupal's default field markup structure.
    #}
    <div class="field__item">{{ item.content }}</div>
  {% endfor %}
</div>
