{#
/**
 * @file
 * Component template for a blockquote.
 *
 * @see kingly_minimal/components/quote/quote.component.yml
 *
 * @props
 * - quote_text: (String|Object) The main content of the quote.
 * - attribution: (String) (Optional) The source of the quote.
 * - attributes: (Object) A Drupal attributes object for the root element.
 */
#}
<blockquote{{ attributes.addClass('quote') }}>
  <div class="quote__text">
    {{- quote_text -}}
  </div>
  {% if attribution %}
    <footer class="quote__attribution">
      {{- attribution -}}
    </footer>
  {% endif %}
</blockquote>
