{#
/**
 * @file
 * Component template for a local video media item.
 * @see kingly_minimal/components/media--video/media--video.component.yml
 * @props
 * - media_entity: (Object) The full local video media entity object.
 * - content: (Object) The rendered HTML5 video player.
 * - attributes: (Object) A Drupal attributes object for the wrapper element.
 */
#}
<div{{ attributes.addClass('media--video') }}>
  {{- content -}}
</div>
