{#
/**
 * @file
 * Component template for a remote video media item.
 *
 * @see kingly_minimal/components/media--remote-video/media--remote-video.component.yml
 *
 * @props
 * - media_entity: The full remote video media entity object.
 * - attributes: A Drupal attributes object for the wrapper element.
 *
 * @slots
 * - content: The rendered video iframe.
 */
#}
<div{{ attributes.addClass('media--remote-video') }}>
  {% block content %}{% endblock %}
</div>
