[data-component-id='kingly_minimal:media--svg-image'] {
  // Target the img element that Drupal uses to render the SVG.
  img {
    // Ensure the SVG scales down proportionally.
    max-width: 100%;
    // Maintain the image's aspect ratio.
    height: auto;
    display: block;
  }
}
