[data-component-id='kingly_minimal:status-messages'] {
  // Base styles for the message block itself.
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  border: var(--border-width-thin) solid transparent;
  border-radius: var(--border-radius);

  .messages__list {
    margin: 0;
    padding-left: var(--spacing-md);
  }

  .messages__item:not(:last-child) {
    margin-bottom: var(--spacing-xs);
  }

  // Variations: Styles applied based on the message type.
  &.messages--status {
    color: var(--color-status-text);
    background-color: var(--color-status);
    border-color: var(--color-status-border);
  }

  &.messages--warning {
    color: var(--color-warning-text);
    background-color: var(--color-warning);
    border-color: var(--color-warning-border);
  }

  &.messages--error {
    color: var(--color-error-text);
    background-color: var(--color-error);
    border-color: var(--color-error-border);

    a {
      color: var(--color-error-text);
      text-decoration: underline;

      &:hover,
      &:focus-visible {
        text-decoration: none;
      }
    }
  }
}
