[data-component-id='kingly_minimal:icon'] {
  // --- Tier 3: Component-Scoped Design Tokens ---
  --icon-default-size: 24px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  > svg {
    width: var(--icon-default-size);
    height: var(--icon-default-size);
    display: block;
    fill: currentColor;
  }
}
